<p>home works!</p>
<div class="row" *ngIf="images$ | async as imgs">
    <div class="col" *ngFor="let image of imgs.pictures">
        <img [src]="image.cropped_picture" (click)="openDialog(image.id)">
    </div>
</div>
